<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="AccessKey" value="AKIAIBN3FU5W4RYXLPTA"/>
      <add key="SecretKey" value="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"/>
      <add key="ApiKey" value="XXcFTw7iek2dGydlWelEsOgRlGeqjQY7vEDD5Ck0"/>
    </appSettings>
</configuration>